<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.alexandria">

    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name="android.hardware.camera.any" />

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <meta-data
        android:name="com.google.mlkit.vision.DEPENDENCIES"
        android:value="barcode" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Alexandria">
        <activity android:name=".MyBookRequestedActivity"></activity>
        <activity android:name=".AcceptedBookInfoActivity" />
        <activity android:name=".MessageActivity" />
        <activity android:name=".SettingActivity" />
        <activity android:name=".EditProfileActivity" />
        <activity android:name=".UserInfoActivity" />
        <activity android:name=".ViewGeolocationActivity" />
        <activity android:name=".SetGeolocationActivity" />
        <activity android:name=".AcceptedActivity" />
        <activity android:name=".RequestedBookInfoActivity" />
        <activity android:name=".BorrowedBookInfoActivity" />
        <activity android:name=".BookInfoActivity" />
        <activity android:name=".AddBookActivity" />
        <activity android:name=".EditBookActivity" />
        <activity android:name=".IsbnActivity" />
        <activity android:name=".RequestedActivity" />
        <activity android:name=".BorrowedActivity" />
        <activity android:name=".MyBookActivity" />
        <activity android:name=".MyAccountActivity" />
        <activity android:name=".SearchActivity" />
        <activity android:name=".SignUpActivity" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>